{% extends 'base.html' %}

{% block content %}
    <h2>Create user</h2>
    <form action="/addUser" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" name="name" placeholder="John">
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <input type="submit" value="Add User" class="btn btn-primary">
    </form>
{% endblock %}