{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
     <form action="/loginUser" method="POST">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com">
            <label for="emailInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            <label for="inputPassword">Password</label>
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock %}